@font-face {
    font-family: bahnschrift boldSemi condensed;
    src: url('assets/bahnschrift.ttf');
    font-stretch: semi-condensed;
    font-weight: bold;
}
@font-face {
    font-family: bahnschrift semi condensed;
    src: url('assets/bahnschrift.ttf');
    font-stretch: semi-condensed;
    font-weight: normal;
}
.font_bold {
    font-family: bahnschrift boldSemi condensed;
}
.font_normal {
    font-family: bahnschrift Semi condensed;
}